<ion-view hide-nav-bar="true" ng-cloak>
    <ion-content scroll="false">
        <ion-slide-box on-slide-changed="slideHasChanged($index)" class="slide-box" show-pager="true">
          <ion-slide class="center">
              <img ng-src="./img/onboarding/1.png" class="onboarding-img">
            </ion-slide>
          <ion-slide class="center">
              <img ng-src="./img/onboarding/2.png" class="onboarding-img">
            </ion-slide>
          <ion-slide class="center">
              <img ng-src="./img/onboarding/3.png" class="onboarding-img">
            </ion-slide>
            <ion-slide class="center">
              <button class="button button-positive button-outline onboarding-button" ng-click="goToOverview()">Feeerdig</button>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>


