<ion-view view-title="{{selectedStation.Name}}" class="text-wrap" ng-cloak>
    <ion-content scrollbar-y="false" ng-show="isLoaded && hasDepartures">
        <ion-refresher pulling-text="Dra for å oppdatere..." on-refresh="refresh()" spinner="spiral">
        </ion-refresher>
        <ion-list>
            <div class="item item-divider sub-header-bar-overview hidden-overview" ng-class="{'visible-overview': favorites.length > 0}">
                Favoritter
            </div>
            <ion-item ng-repeat="line in favorites | limitTo:20 | detailFilter" class="no-padding favourite-departure">
                <div class="row custom-row-padding" ng-click="preferDeparture(line)">
                    <div class="col col-20 text-center">
                        <span class="line text-center" ng-class="{'line-buss': line.LineRef > 19 && line.LineRef < 100, 'line-sub': line.LineRef < 10, 'line-longdistance': line.LineRef > 100 && line.LineRef < 1000}">{{ line.PublishedLineName }}</span>
                    </div>
                    <div class="col col-60 line-name wrap-text">
                        {{ line.DestinationName }}
                    </div>
                    <div class="col col-20 custom-padding-right detail-time" ng-show="line.MinutesToDeparture > 0">
                        <div class="time-to-departure">{{ line.MinutesToDeparture }}</div><div class="minutes"> min</div>
                    </div>
                    <div class="col col-20 custom-padding-right detail-time" ng-show="line.MinutesToDeparture <= 0">
                        <span class="now">Nå</span>
                    </div>
                </div>
                <ion-option-button class="button-assertive" ng-click="reset(line, $index)">
                  Fjern favoritt
                </ion-option-button>
                <ion-option-button class="button-warning option-points" ng-click="reset(line, $index)">
                  <span>{{ line.Preference }}</span><span>poeng</span>
                </ion-option-button>
            </ion-item>
            <div class="divider-thingy" ng-show="favorites.length > 0"></div>
        </ion-list>
        <ion-list>
            <div class="item item-divider" ng-show="regular.length > 0">
             <div class="row no-padding sub-header-bar">
                <div class="col col-20 no-padding">
                    Linje
                 </div>
                 <div class="col col-70 no-padding">
                    Destinasjon
                 </div>
                 <div class="col col-10 no-padding text-center">
                    <img src="./img/klokke.png" class="section-header-image">
                 </div>

                </div>
            </div>
            <ion-item ng-repeat="line in regular | limitTo:20 | detailFilter" class="no-padding">
                <div class="row custom-row-padding" ng-click="preferDeparture(line)">
                    <div class="col col-20 text-center">
                        <span class="line text-center" ng-class="{'line-buss': line.LineRef > 19 && line.LineRef < 100, 'line-sub': line.LineRef < 10, 'line-longdistance': line.LineRef > 100 && line.LineRef < 1000, 'line-buss': line.PublishedLineName.indexOf('N') > -1}">{{ line.PublishedLineName }}</span>
                    </div>
                    <div class="col col-60 line-name wrap-text">
                        {{ line.DestinationName }}
                    </div>
                    <div class="col col-20 custom-padding-right detail-time" ng-show="line.MinutesToDeparture > 0">
                        <div class="time-to-departure">{{ line.MinutesToDeparture }}</div><div class="minutes"> min</div>
                    </div>
                    <div class="col col-20 custom-padding-right detail-time" ng-show="line.MinutesToDeparture <= 0">
                        <span class="now">Nå</span>
                    </div>

                </div>
            </ion-item>
        </ion-list>
    </ion-content>
    <ion-content class="center" ng-show="isLoaded && !hasDepartures">
        <div class="row">
            <div class="col text-center">
                <span class="no-hits">Ingen avganger funnet :(</span>
                <button class="button button-positive button-outline custom-button" ng-click="refresh({ showLoadingOverlay: true })">Prøv igjen</button>
            </div>
        </div>
    </ion-content>
</ion-view>
