<ion-view view-title="#neste" ng-cloak>
    <ion-content>
        <ion-refresher pulling-text="Dra for å oppdatere..." on-refresh="refresh()">
        </ion-refresher>
        <div class="item item-divider" ng-show="(stations | favouriteFilter).length > 0">
            Favoritter
        </div>
        <ion-list>
            <ion-item ng-repeat="station in stations | orderBy:'Distance' | favouriteFilter" ng-click="goToStation(station)">
                <div class="row">
                    <div class="col col-90 station-overview-name">
                        {{ station.Name }}
                    </div>
                    <div class="col col-10">
                        <strong>{{ station.Distance }}</strong> m
                    </div>
                </div>
                <ion-option-button class="button-assertive" ng-click="reset(station, $index)">
                Fjern favoritt
              </ion-option-button>
                <!--<div class="row">
                    <div class="lineID-padding" ng-repeat="line in station.Lines">
                        {{ line.LineID }}<span ng-hide="$index === station.Lines.length - 1">, </span>    
                    </div>
                </div>-->
            </ion-item>
        </ion-list>
        <div class="item item-divider">
            Alle
        </div>
        <ion-list>
            <ion-item ng-repeat="station in stations | orderBy:'Distance' | noFavouriteFilter" ng-click="goToStation(station)">
                <div class="row">
                    <div class="col col-80 station-overview-name">
                        {{ station.Name }}
                    </div>
                    <div class="col col-20">
                        <strong>{{ station.Distance }}</strong> m
                    </div>
                </div>
                <!--<div class="row">
                    <div class="lineID-padding" ng-repeat="line in station.Lines">
                        {{ line.LineID }}<span ng-hide="$index === station.Lines.length - 1">, </span>    
                    </div>
                </div>-->
            </ion-item>
        </ion-list>
        
    </ion-content>
</ion-view>