/*********************

    GENERAL

***********************/

* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}


.center {
  display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.slide-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
}

.slide-button-row {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: flex-end;
}

.close-onboarding {
    padding: 1em;
    max-height: 6em;
    padding: 2em;
}

.close-onboarding-icon {
    font-size: 2em;
}

.image-container {
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2em;
    flex-direction: column;
}

.image-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-left: 3em;
    padding-right: 3em;
}

.image-with-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 4em;
    text-align: center;
}

.final-slide {
    width: 80%;
    justify-content: center;
}

.final-message {
    margin-bottom: 2em;
}

.transport-image {
    height: 1.5em;
    width: 1.5em;
    margin-bottom: 0.5em;
}

.onboarding-text {
    padding: 2em 3em 1.5em 3em;
    text-align: center;
}

h1 {
    max-width: 70%;
    text-align: center;
}

.favourite-departure .item-content {
  padding: 0;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.hidden-overview {
    display: none;
}

.visible-overview {
    display: block;
}

/********************************

    OTHER STUFF

*********************************/

.line {
    font-size: 1.2em;
    padding: 0.7em 0.6em 0.7em 0.6em;
    color: #4D4F53;
    background-image: url('../img/octagon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 400;
}

.line-buss {
    background-image: url('../img/circle.png');
    padding: .7em;
    margin-top: 1em;
}

.line-sub {
    background-image: url('../img/polygon.png');
    padding: 1.2em 1em 1em 1em;
}

.line-longdistance {
    background-image: url('../img/rectangle.png');
    padding: .6em;
}


.sub-header-bar {
    font-size: 0.8em;
    font-weight: 600;
    color: #4D4F53;
}

.sub-header-bar-overview {
    font-size: .9em;
    font-weight: 600;
    color: #4D4F53;
}

.line-name {
    font-weight: 500;
    font-family: 'HelveticaNeue';
    color: #4D4F53;
    font-size: 1em;
    padding-left: .7em;
    overflow: hidden;
}

.no-padding-left {
    padding-left: 0;
}

.detail-time {
    font-size: 1.1em;
}

.station-row {
    text-align: center;
    font-size: 1.4em;
    font-weight: 300;
    padding: .5em;
    background: #e0dddd;
}

.bar {
    background-color: #037AFF;
}

.ion-nav-view {
    background: #fff;
}

.pane {
    background: #fff;
    background-image: url('../img/background.png');
    background-position: top;
}

.text-center {
    text-align: center;
}

.lineID-padding {
    padding-right: .5em;
}

.item.no-padding {
    padding: 0;
}

.custom-row-padding {
    padding: 1.5em .5em 1em 0;
}

.wrap-text {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.no-padding {
    padding: 0;
}

.section-header {
    color: #4D4F53;
}

.section-header-image {
    height: 1.2em;
    padding-top: .2em;
}

.custom-padding-right {
    padding-right: .5em;
    text-align: right;
}

.time-to-departure {
    font-family: 'HelveticaNeue-Light';
    display: inline-block;
    font-weight: 400;
    font-size: 1.2em;
    padding-right: .2em;
}

.minutes {
    display: inline-block;
    font-size: .7em;
    vertical-align: 20%;
    color: #979797;
}

.overview-vertical {
    vertical-align: 10%;
}


.distance-to-stop {
    display: inline-block;
    font-family: 'HelveticaNeue-Light';
    font-size: 1.1em;
    font-weight: 500;
    padding-right: .2em;
}

.divider-thingy {
    height: 1em;
}

.loading-icon {
    padding-top: 1em;
}

.now {
    font-size: 1em;
    padding-right: .5em;
}

.thumbnail {
    width: .6em;
    margin-left: .2em;
}

.custom-button {
    width: 16em;
    margin-top: 3em;
    display: block;
}

#button-left {
    padding-left: 1em;
}

#button-right {
    padding-right: 1em;
}

.no-hits {
    font-size: 1.3em;
    color: #4D4F53;
}

input.searchfield {
  width: 90%;
}

.option-points {
  display: flex;
  flex-direction: column;
  line-height: 16px;
  justify-content: center;
}

.option-points:last-child {
  color: #919191;
}

/********************

    ONBOARDING

********************/


.slider {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

.onboarding-img {
    width: 70%;
    vertical-align: bottom;
}

.onboarding-button {
    width: 60%;
}

/********************

    SEARCH

********************/

.search-empty {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em;
    height: 100%;
}