.line-17 {
    background: red;
    padding: .5em;
    border-radius: 0.35em;
    font-size: 1.2em;
    color: #fff;
}

.line-18 {
    background: #fdcf0e;
    padding: .5em;
    border-radius: 0.35em;
    font-size: 1.2em;
    color: #fff;
}

.line-37 {
    background: #3e75dd;
    padding: .5em;
    border-radius: 0.35em;
    font-size: 1.2em;
    color: #fff;
}

.line-54 {
    background: #4ad33f;
    padding: .5em;
    border-radius: 0.35em;
    font-size: 1.2em;
    color: #fff;
}

.line-name {
    font-weight: 400;
    font-size: 1.1em;
}

.station-row {
    text-align: center;
    font-size: 1.4em;
    font-weight: 300;
    padding: .5em;
    background: #e0dddd;
}

.bar {
    padding: 0;
}

.pane {
    background: rgba(237, 236, 236, 0.47);   
}

.text-center {
    text-aling: center;
}