* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.line {
    width: 3em;
    font-size: 1.4em;
    padding: .3em .4em;
    color: #4D4F53;
    border: 2px solid rgb(61, 140, 255);
    font-weight: 400;
    border-radius: 10em;
}

.line-buss {
    border: 2px solid #E32D22;
}

.sub-header-bar {
    font-size: 1em;
    font-weight: 600;
}

.line-name {
    font-weight: 500;
    font-size: 1em;
}

.detail-time {
    font-size: 1.2em;
}

.station-row {
    text-align: center;
    font-size: 1.4em;
    font-weight: 300;
    padding: .5em;
    background: #e0dddd;
}

.bar {
    padding: 0;
    background-color: #037AFF;
}

.ion-nav-view {
    background: #fff; 
}

.pane {
    background: #fff;
    background-image: url('../img/background.png'); 
    background-position: top;
}

.text-center {
    text-align: center;
}

.lineID-padding {
    padding-right: .5em;
}

.station-overview-name {
    font-size: 1.1em;
    font-weight: 400;
    padding-left: 0;
}

.small-img {
    height: 35px;
}

.item.no-padding {
    padding: 0;
}

.custom-row-padding {
    padding: 1.5em .5em 1em 0;
}

.img-col {
    float: left;
    padding: 0 0 .3em 0;
}

.wrap-text {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.no-padding {
    padding: 0;
}

.section-header {
    color: #4D4F53;
}

.section-header-image {
    height: 1.2em;
}

.custom-padding-right {
    padding-right: 1em;
    text-align: right;
}

.time-to-departure {
    font-size: 1.2em;
    font-weight: 300;
}

.minutes {
    font-size: .8em;
}

.distance-to-stop {
    font-size: 1.1em;
    font-weight: 500;
}

.divider-thingy {
    height: 1em;
}