.line.line-17 {
    background: red;
    padding: .5em;
    border-radius: 0.35em;
    font-size: 1.2em;
    color: #fff;
}

.line.line-18 {
    background: #fdcf0e;
    padding: .5em;
    border-radius: 0.35em;
    font-size: 1.2em;
    color: #fff;
}

.line {
    background: #f01d1d;
    padding: .5em;
    border-radius: 0.35em;
    font-size: 1.2em;
    color: #fdcf0e;
}

.line-name {
    font-weight: 400;
    font-size: 1em;
}

.station-row {
    text-align: center;
    font-size: 1.4em;
    font-weight: 300;
    padding: .5em;
    background: #e0dddd;
}

.bar {
    padding: 0;
}

.pane {
    background: #7fe2d6;   
}

.text-center {
    text-align: center;
}

.lineID-padding {
    padding-right: .5em;
}

.station-overview-name {
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 0;
}
